canvas{
    background-color: white;
    position: absolute; 

    top: 65%;
    left: 50%;
    align-items: center;
    width: 640px;
    height: 360px;
    transform: translate(-50%,-50%);
	display: block;  
	margin: 0px;
    z-index: -1;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}